<ion-view title="{{currentDate}}" align-title="center">
  <ion-nav-bar class="page-heading">
    <ion-nav-buttons side="left" class="bar bar-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon menu-icon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 
  
  <ion-content class="has-header body-element pane-background">

  <!-- Start the parent content container -->
  <div class="row">
    <!-- Start the speed and location column -->   
    <div class="col-33 pad-column">
      <ng-include src="'/templates/location.html'"></ng-include>
    </div>
    <!-- End the speed and location column -->

    <!-- Start the music control column -->
    <div class="col-66 pad-column">  

      <ng-include src="'/templates/now-playing.html'"></ng-include>

      <div class="card">
        <div class="item item-divider page-heading bar-header page-heading heading-text" >
            MPD Status: {{mpdStatus}} {{protocolVersion}}
        </div>

        <div bindonce="menuItems">
            <ion-item ng-if="!currentlyPlaying && playlistCount > 0" href="#" ng-click="playQueue()">
              Play Queue
            </ion-item>

            <ion-item href="#/app/current-queue">Current Queue ( {{playlistCount}} items )</ion-item>

            <ion-item href="#/app/night-mode">Night Mode</ion-item> 

            <ion-item href="#/app/playlists">Playlists</ion-item>    

            <ion-item href="#/app/music-files/root">Files</ion-item> 

            <!-- Enable / disable random playback -->
            <ion-item ng-if="randomPlayback" ng-click="toggleRandom()">Disable Random Playback</ion-item>    

            <ion-item ng-else ng-click="toggleRandom(true)">Enable Random Playback</ion-item>  

            <!-- Enable / disable consumption playback -->
            <ion-item ng-if="consumePlayback" ng-click="toggleConsumption()">Disable Consumption Playback</ion-item>    

            <ion-item ng-else ng-click="toggleConsumption(true)">Enable Consumption Playback</ion-item> 

            <!-- Refresh the media store -->
            <ion-item ng-click="refreshMedia()">Refresh Mediastore</ion-item> 
          </ion-list>

          <!-- Container for Growl style notification popups -->
          <div growl></div>
        </div>
      </div>
      <!-- End the music column -->

    </div>
    <!-- End the parent content container -->
  </ion-content>
</ion-view>
