<ion-view title="{{currentDate}}" align-title="center">
  <ion-nav-bar class="page-heading">
    <ion-nav-buttons side="left" class="bar bar-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 
  
  <ion-content class="has-header body-element pane-background">

  <!-- Start the parent content container -->
  <div class="row">
    <!-- Start the speed and location column -->   
    <div class="col-33 pad-column">
      <ng-include src="/templates/location.html"></ng-include>
    </div>
    <!-- End the speed and location column -->

    <!-- Start the music control column -->
    <div class="col-66 pad-column">  
      <div class="card" ng-if="currentlyPlaying">
        <div class="item item-divider page-heading bar-header page-heading heading-text" >
             Now Playing: 
             {{currentlyPlaying.name}} - {{currentlyPlaying.playTime.formatted}} / {{currentlyPlaying.duration.formatted}}
        </div>

        <div class="row">
          <div class="col-40">
            <img class="now-playing-image" img-cache ic-src="{{currentlyPlaying.image}}">
          </div>

          <div class="col-60"> 

            <div ng-if="currentlyPlaying.artist">
              <h2>{{currentlyPlaying.name}}</h2>
              <strong>{{currentlyPlaying.artist}}</strong>

              <br />

              <span class="song-album" ng-if="currentlyPlaying.album">
                {{currentlyPlaying.album}}
                <span ng-if="currentlyPlaying.year">
                  ( {{currentlyPlaying.year}} )
                </span>
              </span>          
            </div>

            <div ng-else>{{currentlyPlaying.name}}</div>

            <div class="track-play-time">
              Now Playing: 
              {{currentlyPlaying.playTime.formatted}} / {{currentlyPlaying.duration.formatted}}
            </div>

            <div ng-if="currentlyPlaying.next">
              <strong>Next Up:</strong> 
              <br />
              <span ng-if="currentlyPlaying.next.artist">
                {{currentlyPlaying.next.name}} - {{currentlyPlaying.next.artist}}
                <br />
                ( Duration: {{currentlyPlaying.next.duration}} )
              </span>

              <span ng-else>{{currentlyPlaying.next.name}}</span>
            </div>
          </div>
        </div>   

        <div class="button-bar">
          <button ng-click="stopSong()" class="button button-assertive icon-right ion-stop">Stop</button>         
 
          <button ng-if="playState == 'pause'"  ng-click="pauseMusic()" class="button button-positive icon-right ion-play">Resume</button>
          <button ng-else ng-click="pauseMusic()" class="button button-positive icon-right ion-pause">Pause</button>

          <button ng-if="currentlyPlaying.next.artist" ng-click="nextSong()" class="button button-positive icon-right ion-skip-forward">Next</button>              
        </div>
      </div>

      <div class="card">
        <div class="item item-divider page-heading bar-header page-heading heading-text" >
            MPD Status: {{mpdStatus}} {{protocolVersion}}
        </div>

        <div bindonce="menuItems">
            <ion-item ng-if="!currentlyPlaying && playlistCount > 0" href="#" ng-click="playQueue()">
              Play Queue
            </ion-item>

            <ion-item href="#/app/current-queue">Current Queue ( {{playlistCount}} items )</ion-item>

            <ion-item href="#/app/night-mode">Night Mode</ion-item> 

            <ion-item href="#/app/playlists">Playlists</ion-item>    

            <ion-item href="#/app/music-files/root">Files</ion-item> 

            <!-- Enable / disable random playback -->
            <ion-item ng-if="randomPlayback" ng-click="toggleRandom()">Disable Random Playback</ion-item>    

            <ion-item ng-else ng-click="toggleRandom(true)">Enable Random Playback</ion-item>  

            <!-- Enable / disable consumption playback -->
            <ion-item ng-if="consumePlayback" ng-click="toggleConsumption()">Disable Consumption Playback</ion-item>    

            <ion-item ng-else ng-click="toggleConsumption(true)">Enable Consumption Playback</ion-item> 

            <!-- Refresh the media store -->
            <ion-item ng-click="refreshMedia()">Refresh Mediastore</ion-item> 
          </ion-list>

          <!-- Container for Growl style notification popups -->
          <div growl></div>
        </div>
      </div>
      <!-- End the music column -->

    </div>
    <!-- End the parent content container -->
  </ion-content>
</ion-view>
