<ion-view title="{{currentDate}}" align-title="center">
  <ion-nav-bar class="page-heading">
    <ion-nav-buttons side="left" class="bar bar-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon menu-icon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content class="has-header body-element pane-background">

    <!-- Start the parent content container -->
    <div class="row">

      <!-- Start the speed and location column -->   
      <div class="col-33 pad-column">
        <ng-include src="'/templates/location.html'"></ng-include>
      </div>
      <!-- End the speed and location column -->

      <!-- Start the music control column -->
      <div class="col-66">
        <div class="card">
          <div class="item item-divider bar bar-header page-heading heading-text" >
            <span>Stored Playlists</span>
          </div>

          <div ng-if="storedPlaylists">
            <ion-list bindonce="menuItems">

              <ion-item ng-repeat="playlistItem in storedPlaylists track by $index" id="$index">
                <h2>{{playlistItem}}</h2>

                <br />
                <div class="button-bar">
                  <button ng-click="loadPlaylist(playlistItem)" class="button button-positive icon-right ion-music-note">
                    Load playlist into queue
                  </button>          
                </div>
              </ion-item>

            </ion-list>
          </div>

          <div class="item item-text-wrap" ng-else>
            <div class="no-playlists">
              <p>No playlists are currently available</p>
            </div>

            <div class="button-bar">         
              <button class="button button-positive icon-left ion-ios-home" ng-click="goHome()">Home</button>
            </div>  
          </div>

        </div>
      </div>
      <!-- End the music control column -->

    </div>
    <!-- End the parent content container -->
  </ion-content>
</ion-view>
