<ion-view title="Reference Documents" cache-view="false" align-title="center">
  <ion-nav-bar class="page-heading">
    <ion-nav-buttons side="left" class="bar bar-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content class="has-header bodyElement paneBackground">
    <div class="card">
      <div class="item item-divider page-heading bar-header page-heading headingText" >
          Reference
      </div>

      <div bindonce="menuItems">
        <ion-list>

          <ion-item ng-click="openExtFile('/files/example.pdf')" target="_blank">Example Reference Manual</ion-item>
           
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
