<ion-view hide-nav-bar="true">
  <ion-content class="night-mode-theme">

    <!-- Start the parent content container -->
    <div class="card night-wrap">

      <div class="item item-text-wrap">
        <div class="row speed-info">
          <div class="col night-mode">
            <div class="speed-data">
                <div class="night-speed-limit" ng-if="gpsData.speed_limit !='Unknown'">
                  Estimated Speed Limit: {{gpsData.speed_limit}}                
                  <br />
                  <div ng-if="gpsData.speed_limit_age > 0" align="center">
                      {{gpsData.speed_limit_age}}  
                  </div>           
                </div>

                <span ng-if="gpsData.speed_warn == 1" class="current-speed warn-speed">
                    {{gpsData.speed}}
                </span>

                <span ng-else class="current-speed">
                    {{gpsData.speed}}
                </span>

                <span ng-if="gpsData.speed_warn == 1" class="speed-unit warn-speed">
                    km/h
                </span>

                <span ng-else class="speed-unit">
                    km/h
                </span>
            </div>

          </div>
        </div> 

        <div class="gps-status">
          <strong>GPS Status:</strong> {{gpsData.status}} <br/>

          <span ng-if="gpsData.heading != 'N / A'">
            <strong>Heading:</strong> {{gpsData.heading}} <br/>
          </span>             

          <span ng-if="gpsData.longitude != 'Unknown'">
            <strong>Location:</strong> {{gpsData.longitude}}, {{gpsData.latitude}} <br/>
          </span>

          <span ng-if="gpsData.altitude != 'N / A'">
            <strong>Altitude:</strong> {{gpsData.altitude}} <br/>
          </span>          
        </div>        

        <div align="center" class="button-bar exit-night">
          <button ng-click="goHome()" class="button button-dark icon-left ion-ios-home">Back</button>
        </div>

    </div>
    <!-- End the parent content container -->
    
  </ion-content>
</ion-view>