<ion-view title="{{currentDate}}" cache-view="false" align-title="center">
  <ion-nav-bar class="page-heading">
    <ion-nav-buttons side="left" class="bar bar-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon menu-icon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content class="has-header body-element pane-background">

    <!-- Start the parent content container -->
    <div class="row">
      <!-- Start the speed and location column -->   
      <div class="col-33 pad-column">
        <ng-include src="'/templates/partials/location.html'"></ng-include>
      </div>
      <!-- End the speed and location column -->

      <div class="col-66 pad-column">  
        <!-- Start file listing area -->
        <div class="card">
          <div class="item item-divider page-heading bar-header page-heading heading-text" >
              Reference
          </div>

          <div bindonce="menuItems">
            <ion-list>
              <ion-item ng-click="openExtFile('/files/example.pdf')" target="_blank">Example Reference Manual</ion-item>
            </ion-list>

            <div class="item item-text-wrap">
              <div class="button-bar ">         
                <button class="button button-positive icon-left ion-ios-home" ng-click="goHome()">Home</button>
              </div>  
            </div>
          </div>
        </div>
        <!-- End file listing area -->
      </div>
    </div>
  </ion-content>
</ion-view>
