<ion-view title="{{currentDate}}" cache-view="false" align-title="center">
  <ion-nav-bar class="page-heading">
    <ion-nav-buttons side="left" class="bar bar-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon menu-icon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content class="has-header body-element pane-background">

    <!-- Start the parent content container -->
    <div class="row">
      <!-- Start the speed and location column -->   
      <div class="col-33 pad-column">
        <ng-include src="'/templates/partials/location.html'"></ng-include>
      </div>
      <!-- End the speed and location column -->

      <div class="col-66 pad-column">    

        <div ng-if="tripData" class="card">
          <div class="item item-divider bar bar-header page-heading heading-text" >
                Trip Log - Distance: 
                <span ng-if="appSettings.distance==0" >{{tripDistance}} km</span>
                <span ng-else>{{ kmToMiles(tripDistance) }} miles</span>                
          </div>

          <div class="item item-text-wrap">
            <div class="col" ng-if="tripDistance > 0">
      				<div id="map_canvas" ng-controller="TripMeterCtrl">
      				    <ui-gmap-google-map center="tripMap.center" zoom="tripMap.zoom" draggable="true" options="options" bounds="map.bounds">
      				        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
      				                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
      				        </ui-gmap-polyline>
      				    </ui-gmap-google-map>
      				</div>

	            <div class="no-playlists">
					     <p>
                  Travelled 

                  <span ng-if="appSettings.distance==0" >
                    {{tripDistance}} km
                  </span>

                  <span ng-else>
                    {{ kmToMiles(tripDistance) }} miles
                  </span>

                   in {{ tripData.time }}.
                </p>   
	            </div>

	            <div ng-if="avgSpeed">
	            	<strong>Average Speed:</strong>
                <span ng-if="appSettings.speed==0" >{{avgSpeed}} km/h</span>
                <span ng-else>{{ kmToMiles(avgSpeed) }} mph</span>
	            </div>

              <div ng-if="topSpeed">
                <strong>Top Speed:</strong>
                <span ng-if="appSettings.speed==0" >{{topSpeed}} km/h</span>
                <span ng-else>{{ kmToMiles(topSpeed) }} mph</span>
              </div>

	            <div ng-if="highestAltitude">
	            	<strong>Highest Altitude:</strong> {{ convertAltitude(highestAltitude) }} m
	            </div>

	            <div ng-if="avgAltitude">
	            	<strong>Average Altitude:</strong> {{ convertAltitude(avgAltitude) }} m
	            </div>	            
            </div>
              
            <div class="button-bar"> 
              <button class="button button-assertive icon-left ion-ios-stopwatch-outline" ng-click="resetTrip()">
                Reset
              </button>

              <a download="trip-data.json" href="{{exportLink}}" class="button button-positive icon-left ion-android-share-alt">
                  Export Data
              </a>

            </div> 

            <br />

            <div class="button-bar"> 
              <button class="button button-positive icon-left ion-ios-home" ng-click="goHome()">Home</button>
            </div>                   

          </div>
        </div>

        <div class="card" ng-else>
            <div class="item item-divider bar bar-header page-heading heading-text" >
                Missing Trip Data
            </div>

            <div class="item item-text-wrap">
              <div class="no-playlists">
                <p>No trip data available.</p>
              </div>


              <div class="button-bar ">         
                <button class="button button-positive icon-left ion-ios-home" ng-click="goHome()">Home</button>
              </div>  
            </div>
 
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
