<ion-view title="{{currentDate}}" cache-view="false" align-title="center">
  <ion-nav-bar class="page-heading">
    <ion-nav-buttons side="left" class="bar bar-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon menu-icon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content class="has-header body-element pane-background">

    <!-- Start the parent content container -->
    <div class="row">
      <!-- Start the speed and location column -->   
      <div class="col-33 pad-column">
        <ng-include src="'/templates/partials/location.html'"></ng-include>
      </div>
      <!-- End the speed and location column -->

      <!-- Start the music control column -->
      <div class="col-66 pad-column">    
        <!-- Start weather related tags -->
        <div ng-if="weatherData.forecast">
          <div ng-repeat="weatherItem in weatherData.forecast track by $index" class="card">
            <div class="item item-divider bar bar-header page-heading heading-text" >
                {{weatherItem.weekday}}
            </div>

            <div class="item item-text-wrap">
              <div class="row">
                <div class="col-50 pad-column">
                  <img src="{{ getIcon(weatherItem.iconLink) }}" />
                </div>

                <div class="col-50 pad-column">
                  <p>{{weatherItem.description}}</p>

                  <br />

                  <ul class="weather-outlook">
                    <li>
                      <p> 
                        <strong>Min Temp:</strong> 

                        <span ng-if="appSettings.temperature==0" >
                          {{ weatherItem.lowTemperature | number:0 | number }}  Celcius
                        </span>

                        <span ng-else>
                          {{ convertTemperature(weatherItem.lowTemperature) }}  Fahrenheit
                        </span> 
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Max Temp:</strong>

                        <span ng-if="appSettings.temperature==0" >
                            {{ weatherItem.highTemperature | number:0 | number }}  Celcius
                        </span>

                        <span ng-else>
                          {{ convertTemperature(weatherItem.highTemperature) }} Fahrenheit
                        </span>                         
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Chance Of Rain:</strong>
                        {{weatherItem.precipitationProbability}}%
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Humidity:</strong>
                        {{weatherItem.humidity}}%
                      </p>
                    </li>   

                    <li>
                      <p>
                        <strong>Wind:</strong>
                        {{weatherItem.windSpeed | number:0 | number }}km/h {{weatherItem.windDescShort}}
                      </p>
                    </li>
                  </ul>                  
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="card" ng-else>
            <div class="item item-divider bar bar-header page-heading heading-text" >
                Data Error!
            </div>

            <div class="item item-text-wrap">
              Error retrieving weather data check console log for more information. 
            </div>
        </div>
        <!-- End weather related tags -->
      </div>
    </div>
  </ion-content>
</ion-view>
