/**
*
* Styles related to sound and music playback functionality
*
*/

.song-album {
  font-style: italic;
  font-weight: bold;
}

.now-playing-image {
  padding: 20px;
}

.track-play-time {
  padding-top: 10px;
  padding-bottom: 20px;
}

.standby-loading {
	min-height: 150px;
	text-align: center;
	background: url("../../img/loading.gif") no-repeat;
	background-position: center 80%;
	padding: 20px;
}