<div class="card">
    <div class="item item-divider bar bar-header page-heading heading-text" >
        GPS: {{ gpsData.status }}
    </div>

    <div class="item item-text-wrap">
        <strong>Current Speed:</strong>
        <div class="speed-data">
            <span ng-if="gpsData.speed_warn == 1" class="current-speed warn-speed">
                <span ng-if="appSettings.speed==0" >
                    {{ gpsData.speed }}
                </span>

                <span ng-else>
                    {{ kmToMiles(gpsData.speed) }}
                </span>  
            </span>

            <span ng-else class="current-speed">
                <span ng-if="appSettings.speed==0" >
                    {{ gpsData.speed }}
                </span>

                <span ng-else>
                    {{ kmToMiles(gpsData.speed) }}
                </span>  
            </span>

            <span ng-if="gpsData.speed_warn == 1" class="speed-unit warn-speed">
                <span ng-if="appSettings.speed==0" >
                    km/h
                </span>

                <span ng-else>
                    mph
                </span>   
            </span>

            <span ng-else class="speed-unit">
                <span ng-if="appSettings.speed==0" >
                    km/h
                </span>

                <span ng-else>
                    mph
                </span>                
            </span>
        </div>

        <div ng-if="appSettings.speed_limit==1" class="gps-data">
            <strong>Estimated Speed Limit:</strong>

            <br /><br />
            <div class="warn-speed" align="center">
                <strong>{{ gpsData.speed_limit }}</strong>
            </div>
            
            <div ng-if="gpsData.speed_limit_age" align="center">
                <span class="small-text">
                    {{ gpsData.speed_limit_age }} 
                </span>
            </div>
         
        </div>

        <div class="gps-data">        
            <strong class="padding-bottom">Altitude:</strong>

            {{ gpsData.altitude }}

            <span ng-if="appSettings.altitude==0 && gpsData.altitude!='-'" >
                m
            </span>

            <span ng-else-if="gpsData.altitude!='-'">
                ft
            </span>
        </div>
        
        <div class="gps-data">
            <strong class="padding-bottom">Heading:</strong>

            {{ gpsData.heading }}
        </div>

        <div class="gps-data">
            <strong class="padding-bottom">Latitude:</strong>

            {{ gpsData.latitude }}
        </div>

        <div class="gps-data">
            <strong class="padding-bottom">Longitude:</strong>

            {{ gpsData.longitude }}

        </div>        
    </div>

</div>