/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/audiowide.woff2') format('woff2'),
       url('/css/fonts/audiowide.ttf') format('truetype');;
}

.bodyElement {
	background-color: #FFF;
}

.textContent {
	padding: 10px;
}

/* End Navigation related styles */ 
.headingImage {
	float: right;
	width: 150px;
	height: 150px;
	margin: 2px;
	border: 1px #000 solid;
}

.heading-text {
  padding-top: 10px;
  padding-bottom: 10px;  
	font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #645f5f;  
  font-weight: bold;  
  text-rendering: optimizeLegibility;  		
}

/*--- Start heading bar related styles ---*/
.bar-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 55px;     
}

/*--- End heading bar related styles ---*/

.song-album {
  font-style: italic;
  font-weight: bold;
}

.now-playing-image {
  padding: 20px;
}

.track-play-time {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* End Navigation related styles */ 
.paneBackground {
	background: url('../img/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;	
}

.aside-open [menu-toggle] {
  display: none;
}

.errorText {
  color: red !important;
}

.side-menu {
	background-color: #000;
	border-right: 2px #000 solid;
}

.angular-google-map-container { 
  height: 300px; 
}

.pad-column {
  padding-left: 10px;
  padding-right: 10px;
}

.gps-data {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-heading {
  background-color: #000 !important;
  color: #ccc;
  width: 100%;
}

.page-heading .title {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;  
  text-rendering: optimizeLegibility;   
  color: #ccc !important;
}

.speed-data {
  padding-top: 10px;
  font-size: 40px;
  font-family: "Audiowide", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

.speed-data .current-speed {
  font-size: 70px;
}

.speed-data .speed-unit {
  font-size: 20px;
}

.night-speed-limit {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.warn-speed {
  color: #FC1745;
}

.night-mode-theme {
  background-color: #000;
  padding-left:10px;
  color: #ccc;
}

.night-mode-theme .item{
  background-color: #000;
  padding-left:10px;
  color: #ccc;
}

.night-mode-theme .speed-data .current-speed {
  font-size: 150px;
  padding-bottom: 60px;
}

.night-mode-theme .gps-status{
  background-color: #000;
  text-align: center;
}

.night-mode-theme .exit-night {
  padding-top: 30px;
}